@model WebAuLac.Models.DIC_DEPARTMENT
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa phòng ban hoặc tàu này?</h4>
</div>
<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>Tên phòng ban/tàu:</th>
            <td>@Html.DisplayFor(model => model.DepartmentName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Phone):</th>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Quantity):</th>
            <td>@Html.DisplayFor(model => model.Quantity)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FactQuantity):</th>
            <td>@Html.DisplayFor(model => model.FactQuantity)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Description):</th>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
}
