@model IEnumerable<HRM.Models.HRM_EMPLOYEE_RETRIBUTION>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RetributionNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RetributionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                Loại khen thưởng
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HRM_EMPLOYEE.EmployeeCode)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RetributionNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetributionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DIC_TYPE_OF_RETRIBUTION.TypeOfRetributionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HRM_EMPLOYEE.EmployeeCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeRetributionID }) |
                @Html.ActionLink("Details", "Details", new { id=item.EmployeeRetributionID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeRetributionID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
