@model IEnumerable<WebAuLac.Models.HRM_EMPLOYEE_DEGREE>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section huongdan{
    <h2>Các bằng cấp bị sai thông tin</h2>
}
<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<table id="DegreeList" class="table table-striped jambo_table border-right action-table">
    <thead>
        <tr>
            <th></th>
            <th>
               Họ tên
            </th>
            <th>
                Tên bằng
            </th>
            <th>
                Số
            </th>
            <th>
                NCấp
            </th>
            
            <th>
                Trường
            </th>
            <th>
                Ghi chú
            </th>

           
          
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string rowID = "HRM_EMPLOYEE_DEGREE" + item.EmployeeDegreeID.ToString();
            <tr id="@rowID">
                <td></td>
                <td style="width:150px">@Html.DisplayFor(modelItem => item.HRM_EMPLOYEE.FirstName)  @Html.DisplayFor(modelItem => item.HRM_EMPLOYEE.LastName)</td>
                <td style="width:200px">@Html.DisplayFor(modelItem => item.DIC_DEGREE.DegreeName)</td>
                <td>@Html.DisplayFor(modelItem => item.DegreeNo)</td>
                <td>@Html.DisplayFor(modelItem => item.DegreeDate)</td>
   
                <td>@Html.DisplayFor(modelItem => item.DIC_SCHOOL.SchoolName)</td>
                <td style="width:300px">@Html.DisplayFor(modelItem => item.GhiChu)</td>
               
              
            </tr>
        }

</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")


<script language="javascript">
        $(document).ready(function () {
            var t = $('#DegreeList').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                 
                ],
                "order": [[1, 'asc']]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });

</script>
}



