@model IEnumerable<WebAuLac.Models.DIC_TYPE_OF_RETRIBUTION>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section huongdan{
    <text>Danh mục loại khen thưởng</text>
}
<p>
    <a data-modal href="@Url.Action("Create", "DIC_TYPE_OF_RETRIBUTION")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>
<table id="RETRIBUTIONList" class="table table-striped jambo_table border-right action-table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfRetributionName)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string rowID = "DIC_TYPE_OF_RETRIBUTION_" + item.TypeOfRetributionID.ToString();
            <tr id="@rowID">
                <td></td>
                <td>
                    <a href="@Url.Action("Details", "DIC_TYPE_OF_RETRIBUTION", new { id=item.TypeOfRetributionID })" data-modal>@Html.DisplayFor(modelItem => item.TypeOfRetributionName)</a>
                </td>

                <td>
                    <a href="@Url.Action("Edit", "DIC_TYPE_OF_RETRIBUTION", new { id=item.TypeOfRetributionID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "DIC_TYPE_OF_RETRIBUTION", new { id=item.TypeOfRetributionID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>

</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")

    <script language="javascript">

        $(document).ready(function () {
            var t = $('#RETRIBUTIONList').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets":2
                },
                ]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
     
    </script>
}
