@model WebAuLac.Models.HRM_EMPLOYEE_DEGREE
@{
    string hoten = Model.HRM_EMPLOYEE.FirstName + " " + Model.HRM_EMPLOYEE.LastName;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa bằng cấp này?</h4>
</div>

<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>Bằng cấp cho:</th>
            <td>@hoten</td>
        </tr>
        <tr>
            <th>Loại bằng:</th>
            <td>@Html.DisplayFor(model => model.DIC_DEGREE.DegreeName)</td>
        </tr>
        <tr>
            <th>Tên trường:</th>
            <td>@Html.DisplayFor(model => model.DIC_SCHOOL.SchoolName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DegreeNo):</th>
            <td>@Html.DisplayFor(model => model.DegreeNo)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DegreeDate):</th>
            <td>@Html.DisplayFor(model => model.DegreeDate)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ExpirationDate):</th>
            <td>@Html.DisplayFor(model => model.ExpirationDate)</td>
        </tr>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
}