@model IEnumerable<WebAuLac.Models.sp_LayDSThuyenVien_Result>
<table id="tblThuyenVien" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th></th>
            <th>
                Họ tên
            </th>
            <th>
                Chức danh
            </th>
            <th>
                Tàu
            </th>
            <th>
                NLT
            </th>
            <th>
                SNĐT
            </th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>
                Họ tên
            </th>
            <th>
                Chức danh
            </th>
            <th>
                Tàu
            </th>
            <th>
                NLT
            </th>
            <th>
                TGĐT
            </th>
            <th>SNĐT</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            string rowID = item.EmployeeID.ToString();
            string tauID = item.DepartmentID.ToString();
            string hoTen = item.FirstName + " " + item.LastName;
            string posID = item.PositionID.ToString();
            <tr id="@rowID" data-dept-id="@tauID" data-pos-id="@posID">
                <td></td>
                <td>
                    @hoTen
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChucVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentDescription)
                </td>
                <td>
                    @if (item.DecisionDate.HasValue)
                    {
                        <text>@item.DecisionDate.Value.ToString("dd/MM/yyyy")</text>
}                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TGDT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoNgay)
                </td>
            </tr>
        }
    </tbody>

</table>