@model IEnumerable<WebAuLac.Models.view_HRM_PLAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section huongdan{
    <text>DANH SÁCH CÁC KẾ HOẠCH ĐIỀU ĐỘNG ĐÃ LẬP</text>
}

<p>
    <a data-modal href="@Url.Action("Create", "HRM_PLAN")" class="btn btn-primary"><i class="fa fa-plus m-right-xs"></i>Thêm mới</a>
</p>
<table id="PlanList" class="table table-bordered table-hover table-striped action-table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanDate)
            </th>
            <th>
                Ghi chú
            </th>
            <th>Chưa lập QĐ</th>
            <th style="color:red">Phê duyệt</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string rowID = item.PlanID.ToString();
            <tr id="@rowID">
                <td></td>
                <td>
                    <a href="@Url.Action("Details", "HRM_PLAN", new { id=item.PlanID })">@Html.DisplayFor(modelItem => item.PlanName)</a>
                </td>
                <td>
                    @if (item.PlanDate.HasValue)
                    {
                        <text>@item.PlanDate.Value.ToString("dd/MM/yyyy")</text>
                    }                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuaLapQuyetDinh)
                </td>
                <td>
                    @if(item.IsLock.HasValue && item.IsLock.Value)
                    {
                        <text>Đã duyệt</text>
                    }
                </td>
                <td>
                    <a href="@Url.Action("Edit", "HRM_PLAN", new { id=item.PlanID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-edit"></i></a>
                    <a href="@Url.Action("Delete", "HRM_PLAN", new { id=item.PlanID })" class="btn btn-danger btn-xs" data-modal><i class="fa fa-trash"></i></a>                    
                </td>
            </tr>
        }
    </tbody>

</table>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")

    <script language="javascript">

        $(document).ready(function () {
            var t = $('#PlanList').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                }]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });        
    </script>
}


