@model IEnumerable<WebAuLac.Models.sp_LayKeHoachDieuDong_Result>
@using WebAuLac.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    AuLacEntities db = new AuLacEntities();
    WebAuLac.Models.HRM_PLAN objPlan = ViewBag.Plan;
    string thongTin = "CHI TIẾT: " + objPlan.PlanName + " NGÀY " + objPlan.PlanDate.Value.ToString("dd/MM/yyyy");
}
@section huongdan{
    <text>
        <strong>@thongTin</strong>
            @if (objPlan.IsLock.HasValue && objPlan.IsLock.Value)
            {
                <span style="color:red"> KẾ HOẠCH NÀY ĐÃ ĐƯỢC DUYỆT.</span>
            }
    </text>
}
<div id="ChiTietKeHoach">
    <table id="PlanDetailList" class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th></th>
                <th colspan="5" class="text-center">DANH SÁCH THUYỀN VIÊN TRÊN TÀU RÚT VỀ DỰ TRỮ</th>
                <th colspan="6" class="text-center">DANH SÁCH THUYỀN VIÊN DỰ TRỮ LÊN TÀU</th>
                <th></th>
            </tr>
            <tr>
                <th>Tên tàu</th>
                <!--Danh sách thuyền viên-->
                <th>
                    Họ tên
                </th>
                <th>NS</th>
                <th>
                    Chức danh
                </th>
                <th>
                    Ngày lên tàu
                </th>
                <th>
                    Thời gian đi tàu
                </th>
                <!--Danh sách dự trữ-->
                <th>
                    Họ tên
                </th>
                <th>NS</th>
                <th>
                    Chức danh
                </th>
                <th>
                    Quá trình đi tàu
                </th>
                <th>
                    Thời gian dự trữ
                </th>
                <th>
                    Ghi chú
                </th>
                <!--Thao tác xóa, sửa-->
                <th></th>
                <th>Tình trạng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string rowID = item.DetailPlanID.ToString();
                string hoTenThuyenVien = item.HoTen_CrewOff;
                string hoTenDuTru = item.HoTen_CrewOn;
                string namSinhCrewOn = "";
                string namSinhCrewOff = "";
                HRM_EMPLOYEE pCrewOn = db.HRM_EMPLOYEE.Find(item.CrewOnID);
                HRM_EMPLOYEE pCrewOff = db.HRM_EMPLOYEE.Find(item.CrewOffID);
                if (pCrewOn != null)
                {
                    if (pCrewOn.BirthDay.HasValue)
                    {
                        namSinhCrewOn = pCrewOn.BirthDay.Value.Year.ToString();
                    }
                }
                if (pCrewOff != null)
                {
                    if (pCrewOff.BirthDay.HasValue)
                    {
                        namSinhCrewOff = pCrewOff.BirthDay.Value.Year.ToString();
                    }
                }
                <tr id="@rowID">
                    <td>@Html.DisplayFor(modelItem => item.DepartmentName)</td>
                    <td>
                        @hoTenThuyenVien
                    </td>
                    <td>@namSinhCrewOff</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrewOffPosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOff)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOff)
                    </td>
                    <!--danh sách dự trữ-->
                    <td>
                        @hoTenDuTru
                    </td>
                    <td>@namSinhCrewOn</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrewOnPosition)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CrewOnHistory)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Note)
                    </td>
                    <td>
                        @if (item.DaDuyet.HasValue && item.DaDuyet.Value)
                        {
                            <a href="@Url.Action("GiamDocBoDuyet", "HRM_DETAILPLAN", new { id=item.DetailPlanID })" class="btn btn-warning btn-xs" data-toggle="tooltip" title="Bỏ duyệt"><i class="fa fa-recycle"></i></a>
                        }
                        else
                        {
                            <a href="@Url.Action("GiamDocDuyet", "HRM_DETAILPLAN", new { id=item.DetailPlanID })" class="btn btn-default btn-xs" data-modal data-toggle="tooltip" title="Duyệt chi tiết"><i class="fa fa-thumbs-o-up"></i></a>
                        }
                    </td>
                    <td>
                        @if (item.DaDuyet.HasValue && item.DaDuyet.Value)
                        {
                            <text>1</text>
                        }
                        else
                        {
                            <text>0</text>
}
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<!--Đây là một số chức năng dành cho giám đốc
    - Ghi chú cho toàn bộ kế hoạch: thêm một điều động mới chẳng hạn
    - Lọc thuyền viên
    - Lọc dự trữ    
-->
<div id="DieuKienChon">
    <div class="row" style="padding-bottom:20px;padding-top:20px;">
        <div class="col-md-12 col-xs-12 text-center">
            <a id="LocThuyenVien" class="btn btn-info">Lấy tất cả thuyền viên</a>
            <a href="@Url.Action("GiamDocEdit", "HRM_PLAN", new { id=objPlan.PlanID })" class="btn btn-warning" data-modal><i class="fa fa-edit"></i> Ghi chú kế hoạch</a>
            @if (objPlan.IsLock.HasValue && objPlan.IsLock.Value)
            {
                <a href="@Url.Action("GiamDocBoDuyet", "HRM_PLAN", new { id=objPlan.PlanID })" class="btn btn-success" data-modal><i class="fa fa-edit"></i>Cho phép chỉnh kế hoạch</a>
            }
            else
            {
                <a href="@Url.Action("GiamDocDuyet", "HRM_PLAN", new { id=objPlan.PlanID })" class="btn btn-success" data-modal><i class="fa fa-edit"></i>Duyệt kế hoạch</a>
            }
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-6">
            <p class="noibat">DS THUYỀN VIÊN</p>
            <div id="ChonThuyenVien">

            </div>
        </div>
        <div class="col-md-6">
            <p class="noibat">DS DỰ TRỮ</p>
            <div id="ChonDuTru">
            </div>
        </div>
    </div>
</div>

@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
    @Styles.Render("~/vendors/DataTables/checkbox/css")    
}
<style>
    tfoot {
        display: table-header-group;
    }
    #ChonThuyenVien div.row:first-child,#ChonDuTru div.row:first-child{
        display:none;
    }
</style> 
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/vendors/DataTables/checkbox/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")

    <script language="javascript">
        var tblThuyenVien, tblDuTru;
        var currentThuyenVien = -1, currentTau = -1; tatCa = 0;
        function FormatChiTietKeHoach() {
            //----------thực hiện format danh sách điều động---------------------
            tblKeHoach = $('#PlanDetailList').DataTable({
                "info": false,
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "columnDefs": [
                    { "visible": false, "targets": 0 },
                    { "visible": false, "targets": 13 }
                ],
                "order": [[0, 'asc']],
                "displayLength": 25,
                "drawCallback": function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var last = null;

                    api.column(0, { page: 'current' }).data().each(function (group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group" style="background-color:#fff;color:blue"><td colspan="13">Tàu: <strong>' + group + '</strong></td></tr>'
                            );

                            last = group;
                        }
                    });
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    if (aData[13] == "1") {
                        $('td', nRow).css('background-color', 'LightBlue');
                    }
                }
            });
        }
        $(document).ready(function () {
            FormatChiTietKeHoach();
            //hiển thị danh sách thuyền viên trên tất cả các tàu
            //nhưng có thông báo thuyền viên nào đã được điều động
            //$("#loadingImage").show();
            $.ajax({
                url: '@Url.Action("dsThuyenVienDieuDong", "HRM_DETAILPLAN", new { PlanID=objPlan.PlanID })',
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    //$("#loadingImage").hide();
                    $('#ChonThuyenVien').html(result);
                    FormatDanhSachThuyenVien();
                }
            });
        });
        $('#LocThuyenVien').on('click', function () {
            if (tatCa == 1) {
                tatCa = 0;
                $('#LocThuyenVien').text('Lấy tất cả thuyền viên');
            } else {
                tatCa = 1;
                $('#LocThuyenVien').text('Lọc thuyền viên đã đi trên 8 tháng');
            }
            var url = '@Html.Raw(@Url.Action("GDLocThuyenVien8Thang", "HRM_DETAILPLAN", new { PlanID="plan-id", TatCa="loc-tat-ca"}))'
              .replace("plan-id", encodeURIComponent(@objPlan.PlanID))
              .replace("loc-tat-ca", encodeURIComponent(tatCa));
            $.ajax({
                url: url,
                type: 'get',
                success: function (result) {
                    $('#ChonThuyenVien').html(result);
                    FormatDanhSachThuyenVien();
                }
            });
        })
        /* Get the rows which are currently selected */
        function fnGetSelected(oTableLocal) {
            return oTableLocal.$('tr.selected');
        }

        //LẤY DANH SÁCH DỰ TRỮ THEO THUYỀN VIÊN CHỌN Ở TRÊN
        function LayDanhSachDuTru() {
            var url = '@Html.Raw(@Url.Action("dsDuTru", "HRM_DETAILPLAN", new { TauID = "tau-id", PlanID="plan-id", ThuyenVienID ="thuyenvien-id"}))'
              .replace("tau-id", encodeURIComponent(currentTau))
              .replace("plan-id", encodeURIComponent(@objPlan.PlanID))
              .replace("thuyenvien-id", encodeURIComponent(currentThuyenVien));
            //$("#loadingImage").show();
            $.ajax({
                url: url,
                type: 'get',
                success: function (result) {
                    //load bang thong tin o day
                    //$("#loadingImage").hide();
                    $('#ChonDuTru').html(result);
                    FormatDanhSachDuTru();
                }
            });
        }
        function FormatDanhSachThuyenVien() {
            //thiết lập phần search
            $('#tblThuyenVien tfoot th').each(function () {
                var title = $(this).text().trim();
                if (title != '') {
                    switch (title) {
                        case 'Họ tên':
                            $(this).html('<input style="width:80px" type="text" placeholder="' + title + '" />');
                            break;
                        default:
                            $(this).html('<input style="width:50px" type="text" placeholder="' + title + '" />');
                    }
                } else {
                    $(this).html('');
                }
            });

            //----------thực hiện hiển thị dạng datatable---------------------
            tblThuyenVien = $('#tblThuyenVien').DataTable({
                "info": false,
                "columnDefs": [
                {
                    "orderable": false,
                    "searchable": false,
                    "className": 'select-checkbox',
                    "targets": 0
                },
                {
                    className: "col_songay",
                    "targets": [0]
                },
                { "visible": false, "targets": 6 },
                { "visible": false, "targets":7 }
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    if (aData[7] == "Đã ĐĐ") {
                        $('td', nRow).css('background-color', 'LightBlue');
                    }
                }
            });
            //-------------hết phần hiển thị datatable--------------------
            //sự kiện click chọn
            $('#tblThuyenVien tbody').on('click', '.select-checkbox', function (e) {
                //lấy ra mã thuyền viên được chọn ở đây
                var $row = $(this).closest('tr');
                currentThuyenVien = $row.attr('id');
                currentTau = $row.attr('data-dept-id');
                //lấy danh sách thuyền viên dự trữ tương ứng
                LayDanhSachDuTru();
            });
            // Apply the search
            tblThuyenVien.columns().every(function (index) {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    that
                        .search(this.value)
                        .draw();


                });
            });
        }

        function FormatDanhSachDuTru() {
            //thiết lập phần search
            $('#tblDuTru tfoot th').each(function () {
                var title = $(this).text().trim();
                if (title != '') {
                    switch(title) {
                        case 'Họ tên':
                            $(this).html('<input style="width:100px" type="text" placeholder="' + title + '" />');
                            break;
                        case 'Chức danh':
                            $(this).html('<input style="width:80px" type="text" placeholder="' + title + '" />');
                            break;
                        case 'ĐĐ':
                            $(this).html('<input style="width:50px" type="text" placeholder="' + title + '" />');
                            break;
                        case 'QTĐT':
                            $(this).html('<input style="width:130px" type="text" placeholder="' + title + '" />');
                            break;
                        default:
                            $(this).html('<input style="width:50px" type="text" placeholder="' + title + '" />');
                    }

                } else {
                    $(this).html('');
                }
            });
            //----------thực hiện hiển thị dạng datatable---------------------
            tblDuTru = $('#tblDuTru').DataTable({
                "info": false,
                "columnDefs": [{
                    "orderable": false,
                    "searchable": false,
                    "targets": 0
                },
                {
                    "visible":false,
                    "targets": 8
                }
                ],
                "order": [[8, 'asc']]
            });
            tblDuTru.on('order.dt search.dt', function () {
                tblDuTru.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
            //-------------hết phần hiển thị datatable--------------------
            // Apply the search
            tblDuTru.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        }
        function loadFormKeHoach(href) {
            $('#myModalContent').load(href, function () {
                // this is the first add
                $.validator.unobtrusive.parse($('form'));
                $(".datefield").datepicker({ dateFormat: 'dd/mm/yy', changeYear: true }, $.datepicker.regional["vi"]);
                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');
                bindFormKeHoach(this);
            });
        };
        function bindFormKeHoach(dialog) {
            $('form', dialog).submit(function () {
                var data = $(this).serialize();
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: data,
                        success: function (result) {
                            $("#myModal").modal('hide');
                            //load lại bảng
                            //hiển thị danh sách chi tiết tại đây
                            $.ajax({
                                url: '@Url.Action("ChiTietKeHoach", "HRM_PLAN", new { id=objPlan.PlanID })',
                                type: 'get',
                                success: function (result) {
                                    //load bang thong tin o day
                                    $('#ChiTietKeHoach').html(result);
                                    FormatChiTietKeHoach();
                                }
                            });
                        }
                    });
                    return false;
                }
            });
        }
    </script>
}