@model IEnumerable<WebAuLac.Models.HRM_EMPLOYEE_DISCIPLINE>

<p>
    <button class="btn btn-primary" onclick="HienThiModal('@Url.Action("CreateOne", "HRM_EMPLOYEE_DISCIPLINE",new { EmployeeID=ViewBag.EmployeeID})', 'tab_content7')"><i class="fa fa-plus m-right-xs"></i>Thêm mới</button>
</p>
<p>
    <button class="btn btn-primary" onclick="HienThiModal('@Url.Action("CreateOneWithQD", "HRM_EMPLOYEE_DISCIPLINE",new { EmployeeID=ViewBag.EmployeeID})', 'tab_content7')"><i class="fa fa-plus m-right-xs"></i>Thêm mới cùng quyết định hạ cấp</button>
</p>
<table id="EmployeeDisciplineList" class="table table-bordered action-table">
    <thead>
        <tr>
            <th>STT</th>

            <th>
                @Html.DisplayNameFor(model => model.DisciplineNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DisciplineDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfDisciplineID)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 0;
        }
        @foreach (var item in Model)
        {
            stt = stt + 1;
            string rowID = "HRM_EMPLOYEE_DISCIPLINE_" + item.EmployeeDisciplineID.ToString();
            <tr id="@rowID">
                <td>@stt</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplineNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisciplineDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIC_TYPE_OF_DISCIPLINE.TypeOfDisciplineName)
                </td>
                <td>
                    <a href="#" onclick="HienThiModal('@Url.Action("Edit",  "HRM_EMPLOYEE_DISCIPLINE",new { id=item.EmployeeDisciplineID})', 'tab_content6')" class="btn btn-success btn-xs"><i class="fa fa-edit"></i></a>
                    <a href="#" onclick="HienThiModal('@Url.Action("Delete",  "HRM_EMPLOYEE_DISCIPLINE",new { id=item.EmployeeDisciplineID})', 'tab_content6')" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

    </tbody>
</table>
