@model HRM.Models.HRM_EMPLOYEE_DISCIPLINE

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>HRM_EMPLOYEE_DISCIPLINE</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DisciplineNo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DisciplineNo)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DisciplineDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DisciplineDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Reason)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Reason)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DIC_TYPE_OF_DISCIPLINE.TypeOfDisciplineName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DIC_TYPE_OF_DISCIPLINE.TypeOfDisciplineName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.HRM_EMPLOYEE.EmployeeCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.HRM_EMPLOYEE.EmployeeCode)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeDisciplineID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
