<!--
    đã không còn sử dụng cái này nữa
    Làm chung trong Index luôn
    TÙy vào quyền đăng nhập mà hiển thị    
-->
@using WebAuLac.Models;
@model IEnumerable<WebAuLac.Models.sp_T_LayDanhSachNhanVien_Result>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AuLacEntities db = new AuLacEntities();
}

@section huongdan{
    <text>DANH SÁCH NHÂN VIÊN</text>
}
<p>   
    <a href="@Url.Action("TimKiem", "HRM_EMPLOYEE")" class="btn btn-warning"><i class="fa fa-search m-right-xs"></i>Tìm kiếm nhân viên</a>
    <a href="@Url.Action("ExportDataDanhSachCanBo", "HRM_EMPLOYEE")" class="btn btn-info"><i class="fa fa-file-excel-o m-right-xs"></i>Xuất danh sách</a>    
</p>
@if (Model != null)
{
    <table id="EmployeesList" class="table table-striped jambo_table border-right action-table">
        <thead>
            <tr>
                <th>STT</th>
                <th>
                    Họ
                </th>
                <th>
                    Tên
                </th>
                <th>
                    Ngày sinh
                </th>
                <th>
                    Phòng ban
                </th>
                <th>
                    Chức vụ
                </th>
                <th>
                    Trình độ
                </th>
                <th>
                    Địa chỉ
                </th>
                <th>Ngày ký HĐ</th>
                @if (User.IsInRole("Boss"))
                {
                    <th>Thân nhân</th>
                    <th>Ghi chú</th>
                }                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                string rowID = "HRM_EMPLOYEE" + item.EmployeeID.ToString();
                //lấy ra ngày ký hợp đồng
                DateTime ngayKyHopDong = DateTime.MinValue;
                HRM_CONTRACTHISTORY hopDong = db.HRM_CONTRACTHISTORY.Where(x => x.EmployeeID == item.EmployeeID).FirstOrDefault();
                if (hopDong != null)
                {
                    ngayKyHopDong = hopDong.ContractDate.Value;
                }
                HRM_EMPLOYEE emp = db.HRM_EMPLOYEE.Find(item.EmployeeID);
                <tr id="@rowID">
                    <td></td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @{
                            if (item.BirthDay.HasValue)
                            {
                                <text>@item.BirthDay.Value.ToString("dd/MM/yyyy")</text>
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChucVu)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EducationName)
                    </td>
                    <td>
                        @emp.DiaChiFull
                    </td>
                    <td>
                        @{
                            if (ngayKyHopDong != DateTime.MinValue)
                            {
                                <text>@ngayKyHopDong.ToString("dd/MM/yyyy")</text>
                            }
                        }
                    </td>
                    @if (User.IsInRole("Boss"))
                    {
                        <td>@Html.DisplayFor(modelItem => item.TenMoiQuanHe)</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    }                    
                    <td>
                        <a href="@Url.Action("EditNote", "HRM_EMPLOYEE", new { id=item.EmployeeID })" class="btn btn-success btn-xs" data-modal><i class="fa fa-sticky-note-o"></i></a>
                    </td>
                </tr>
        }
        </tbody>
    </table>
}
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
}
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")

    <script language="javascript">        
        $(document).ready(function () {
            var t = $('#EmployeesList').DataTable({
                "language": {
                    "url": "/vendors/DataTables/langs/Vietnamese.json"
                },
                "iDisplayLength": 25,
                "columnDefs": [{
                    "searchable": false,
                    "orderable": false,
                    "targets": 0
                },
                {
                    "searchable": false,
                    "orderable": false,
                    "targets":7
                },
                ]
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
     
    </script>
}




