@model WebAuLac.Models.HRM_EMPLOYEE_DISCIPLINE

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Thêm mới QĐ kỷ luật</h4>
</div>

@using (Html.BeginForm("Create", "QuyetDinhKyLuat"))
{
        @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })           
           
            <div class="form-group">
                @Html.LabelFor(model => model.DisciplineNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DisciplineNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DisciplineNo, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.DisciplineDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.DisciplineDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DisciplineDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayHopHoiDong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.NgayHopHoiDong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayHopHoiDong, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.TypeOfDisciplineID, "Loại kỷ luật", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownList("TypeOfDisciplineID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TypeOfDisciplineID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Họ tên</label>
                <div class="col-md-4">
                    @Html.DropDownList("EmployeeID", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>            

            <div class="form-group">
                @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Reason, 3, 95, null)
                    @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                </div>
            </div>            

           
            <div class="form-group">     
                @Html.LabelFor(model => model.HinhThucKyLuat, htmlAttributes: new { @class = "control-label col-md-2" })           
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.HinhThucKyLuat, 3, 95, null)
                    @Html.ValidationMessageFor(model => model.HinhThucKyLuat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CatThuong, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.CatThuong, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CatThuong, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-success" type="submit">
            <i class="fa fa-save"></i> Lưu thông tin
        </button>
    </div>
}

<script type="text/javascript">
        
       

        $(document).ready(function () {
            //Load số quyết định theo từng loại quyết định
            $('#EmployeeID').addClass('selectpicker');
            $('#EmployeeID').attr('data-live-search', 'true');
            $('#EmployeeID').selectpicker('refresh');
            });

    </script>
