@model WebAuLac.Models.HRM_EMPLOYEE_DISCIPLINE

@{
    string hoten = Model.HRM_EMPLOYEE.FirstName + " " + Model.HRM_EMPLOYEE.LastName;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Bạn có chắc muốn xóa Quyết định Nghỉ việc này?</h4>
</div>

<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model => model.HRM_EMPLOYEE.LastName):</th>
            <td>@Html.DisplayFor(model => model.HRM_EMPLOYEE.LastName)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.DisciplineNo):</th>
            <td>@Html.DisplayFor(model => model.DisciplineNo)</td>
        </tr>
    </table>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" style="margin-bottom:0px;">
            <i class="fa fa-ban"></i> Hủy
        </button>
        <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash"></i>Xóa
        </button>
    </div>
}