@model WebAuLac.Models.LoaiKiemTra

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LoaiKiemTra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoaiKiemTra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoaiKiemTra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VietTat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VietTat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoaiKiemTraID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
