@{
    ViewBag.Title = "Điều động bậc thang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section huongdan{
    <text>
        <strong>Hướng dẫn</strong>
        <br />
        Nhấp vào link ở tên người trên tàu. Chương trình sẽ chọn thuyền viên tương ứng.<br />        
        Để chọn thuyền viên thay thế cho thuyền viên trên tàu chọn <strong>Thay thế</strong>
    </text>
}
<p class="noibat">BẢNG KẾ HOẠCH</p>
<div id="DanhSachDieuDong"></div>
<div id="DieuKienChon">
    <div class="row" style="padding-bottom:20px;padding-top:20px;">
        <div class="col-md-12 col-xs-12 text-center">
            <a id="LocChucDanh" class="btn btn-info"><i class="fa fa-refresh m-right-xs"></i>Lọc chức danh</a>
            <a id="Replace" class="btn btn-success"><i class="fa fa-arrows m-right-xs"></i>Thay thế</a>
        </div>
    </div>
</div>
<div id="DanhSachThayThe"></div>
@section Styles{
    @Styles.Render("~/vendors/DataTables/css")
    @Styles.Render("~/vendors/DataTables/Buttons/css")
    @Styles.Render("~/vendors/DataTables/checkbox/css")
}
<style>
    tfoot {
        display: table-header-group;
    }
</style>
@section scripts{
    @Scripts.Render("~/vendors/DataTables/js")
    @Scripts.Render("~/vendors/DataTables/Buttons/js")
    @Scripts.Render("~/vendors/DataTables/checkbox/js")
    @Scripts.Render("~/bundles/jqueryval")
    <!--modal form-->
    @Scripts.Render("~/bundles/modalform")

<script language="javascript">
        var tblDuTru;
        var currentIDDieuDong = 0;//lưu thông tin điều động hiện tại
        var currentIDThuyenVien = 0;//lưu thông tin thuyền viên dự trữ hiện tại
        var isShowTooltip = false;
        $(document).ready(function () {
            //hiển thị danh sách thuyền viên trên tất cả các tàu
            $.ajax({
                url: '@Url.Action("DanhSachDieuDong", "LichKiemTraTaus", new { chkPos = new int[] { } })',
                type: 'get',
                success: function (result) {
                    $('#DanhSachDieuDong').html(result);
                    ThemSuKienChoDanhSachDieuDong();
                }
            });
        });

        function ThemSuKienChoDanhSachDieuDong() {
            // ------đây là phần xử lý cho người cần thay thế
            $('#DanhSachDieuDong').on('click', 'a[name=NguoiCanDieuDong]', function (e) {
                var id = $(this).attr('id');
                currentIDDieuDong = id;
                var listChucDanh = $('#sListChucDanh').text();
                //get content of the link
                var nguoiCanThayThe = 'Danh sách thuyền viên thay thế cho: ' +  $(this).text();
                var url = '@Html.Raw(@Url.Action("LayNguoiThayThe", "LichKiemTraTaus", new { DieuDongID = "dieudong-id", chkPos = "chkPos-id" }))'
                           .replace("chkPos-id", encodeURIComponent(listChucDanh))
                          .replace("dieudong-id", encodeURIComponent(id));
                        $.ajax({
                            url: url,
                            type: 'get',
                            success: function (result) {
                                $('#DanhSachThayThe').html(result);
                                //set content to p tag
                                $('#dsDuTru_tieuDe').html(nguoiCanThayThe);
                                FormatDanhSachDuTru();
                            }
                        });
                return false;
            });
            //------đây là phần xử lý cho người được thay thế
            $('a[name=link_popover]').popover({

            });
            $('#DanhSachDieuDong').on('click', 'a[name=delete-replace]', function (e) {
                //get idDieuDong from id of the link
                var idDieuDong = $(this).attr('id').replace("delete-replace-", "");
                var listChucDanh = $('#sListChucDanh').text();
                var url = '@Html.Raw(@Url.Action("DeleteReplace", "LichKiemTraTaus", new { DieuDongID = "dieudong-id", chkPos = "chkPos-id" }))'
                            .replace("chkPos-id", encodeURIComponent(listChucDanh))
                            .replace("dieudong-id", encodeURIComponent(idDieuDong));
                            $.ajax({
                                url: url,
                                type: 'get',
                                success: function (result) {
                                    //load lại bảng thông tin điều động
                                    $('#DanhSachDieuDong').html(result);
                                    ThemSuKienChoDanhSachDieuDong();
                                    //xóa nội dung trong mục hiển thị người thay thế
                                    $('#DanhSachThayThe').html("");
                                }
                            });
            });
            $('#DanhSachDieuDong').off('click', 'a[name=add-link]').on('click', 'a[name=add-link]', function (e) {
                var idDieuDong = $(this).attr('id').replace("add-", "");
                var listChucDanh = $('#sListChucDanh').text();
                var url = '@Html.Raw(@Url.Action("TangThangDieuDong", "LichKiemTraTaus", new { DieuDongID = "dieudong-id", chkPos = "chkPos-id" }))'
                    .replace("chkPos-id", encodeURIComponent(listChucDanh))
                        .replace("dieudong-id", encodeURIComponent(idDieuDong));
                        $.ajax({
                            url: url,
                            type: 'get',
                            success: function (result) {
                                $(this).off('click');
                                //load lại bảng thông tin điều động
                                $('#DanhSachDieuDong').html(result);
                                ThemSuKienChoDanhSachDieuDong();
                            }
                        });
            });
            $('#DanhSachDieuDong').off('click', 'a[name=minus-link]').on('click', 'a[name=minus-link]', function (e) {
                var listChucDanh = $('#sListChucDanh').text();
                var idDieuDong = $(this).attr('id').replace("minus-", "");
                var url = '@Html.Raw(@Url.Action("GiamThangDieuDong", "LichKiemTraTaus", new { DieuDongID = "dieudong-id", chkPos = "chkPos-id" }))'
                    .replace("chkPos-id", encodeURIComponent(listChucDanh))
                    .replace("dieudong-id", encodeURIComponent(idDieuDong));
                    $.ajax({
                        url: url,
                        type: 'get',
                        success: function (result) {
                            $(this).off('click');
                            //load lại bảng thông tin điều động
                            $('#DanhSachDieuDong').html(result);
                            ThemSuKienChoDanhSachDieuDong();
                        }
                    });
            });
        }
        //XỬ LÝ CÁC SỰ KIỆN
        $('#LocChucDanh').on('click', function () {
            var url = '@Html.Raw(@Url.Action("locChucDanh", "LichKiemTraTaus"))';
            //goi modal
            $('#myModalContent').load(url, function () {
                $.validator.unobtrusive.parse($('form'));

                $('#myModal').modal({
                    /*backdrop: 'static',*/
                    keyboard: true
                }, 'show');

                bindFormLocChucDanh(this);
            });

            return false;
        })
        function bindFormLocChucDanh(dialog) {
            $('form', dialog).submit(function () {
                // this is the second addition
                if ($(this).valid()) {
                    $.ajax({
                        url: this.action,
                        type: this.method,
                        data: $(this).serialize(),
                        success: function (result) { 
                            $('#myModal').modal('hide');
                            $('#DanhSachDieuDong').html(result);
                            ThemSuKienChoDanhSachDieuDong();
                            //xóa hết các thông tin trong mục hiển thị người thay thế
                            $('#DanhSachThayThe').html("");
                            //hiển thị list chức danh lọc trong span id=chucdanh                            
                            var chucDanh = $('#sListChucDanh').text();
                            console.log(chucDanh);
                        }
                    });
                    return false;
                }
            });
            }
        function FormatDanhSachDuTru() {
            //----------thực hiện hiển thị dạng datatable---------------------
            tblDuTru = $('#tblDuTru').DataTable({
                "info": false,
                "columnDefs": [
                    {
                        "className": 'select-checkbox',
                        "targets": 0
                    }
                ],
                select: {
                    style: 'os',
                    selector: 'td:first-child'
                },
            });
            //-------------hết phần hiển thị datatable--------------------
            //sự kiện click chọn
            $('#tblDuTru tbody').on('click', '.select-checkbox', function (e) {
                currentIDThuyenVien = $(this).closest('tr').attr('id');
                //kiểm tra crew matrix ờ đây
                //chưa làm
            });
        }
        function KiemTraCrewMatrix(idOn)
        {

        }
    $('#Replace').on('click', function (e) {
            var listChucDanh = $('#sListChucDanh').text();
            var url = '@Html.Raw(@Url.Action("InsertKH", "LichKiemTraTaus", new { DieuDongID = "dieudong-id", ThuyenVienThayTheID = "thuyenvienthaythe-id", chkPos = "chkPos-id" }))'
                .replace("chkPos-id", encodeURIComponent(listChucDanh))
                .replace("dieudong-id", encodeURIComponent(currentIDDieuDong))
              .replace("thuyenvienthaythe-id", encodeURIComponent(currentIDThuyenVien));
            $.ajax({
                url: url,
                type: 'get',
                success: function (result) {
                    //load lại bảng thông tin điều động
                    $('#DanhSachDieuDong').html(result);
                    ThemSuKienChoDanhSachDieuDong();
                    //xóa nội dung trong mục hiển thị người thay thế
                    $('#DanhSachThayThe').html("");
                }
            });
        })
</script>
}