@model WebAuLac.Models.DIC_POSITION

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Chi tiết chức danh</h4>
</div>
<div class="modal-body">
    <table class="table no-border table-striped table-hover">
        <tr>
            <th>@Html.DisplayNameFor(model => model.PositionName):</th>
            <td>@Html.DisplayFor(model => model.PositionName)</td>
        </tr>  
        <tr>
            <th>@Html.DisplayNameFor(model => model.Description):</th>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
        <tr>
            <th>Nhóm chức danh:</th>
            <td>@Html.DisplayFor(model => model.DIC_GROUPPOSITION.GroupPositionName)</td>
        </tr>       
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal">OK</button>
</div>
